@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');

:host ::ng-deep {
  *:not(.pi):not([class*="pi-"]) {    /* Don't override the primeicons */
    font-family: 'EB Garamond', serif;
  }

  .p-card {
    border-radius: 1rem;
    overflow: hidden;
  }

  .p-button {
    font-family: 'EB Garamond', serif;
    font-weight: 600;
  }

  .custom-tabs {
    .p-tabview-nav {
      background: linear-gradient(to right, #f97316, #ea580c);

      li {
        .p-tabview-nav-link {
          color: rgba(255, 255, 255, 0.8);

          &:hover {
            color: white;
          }
        }

        &.p-highlight .p-tabview-nav-link {
          color: white;
          background: rgba(255, 255, 255, 0.1);
        }
      }
    }
  }
}
