<div class="mt-3 flex flex-col space-y-1 mb-4">

  <!-- Progress Bar -->
  <p-progressBar [value]="(score / 4) * 100"
                 [showValue]="false"
                 styleClass="h-2 rounded-full overflow-hidden p-progressbar-vetflow"
                 [ngClass]="barColorClass">
  </p-progressBar>

  <!-- Strength Label -->
  <div class="flex items-center justify-between">
    <span class="text-sm font-medium text-gray-700">Password Strength:</span>
    <p-tag [value]="strength"
           [severity]="strength === 'Strong' ? 'success' : strength === 'Good' ? 'warning' : 'danger'"
           styleClass="text-xs px-2 py-1 font-semibold">
    </p-tag>
  </div>

  <p-divider styleClass="my-2"></p-divider>

  <!-- Category Checks -->
  <div class="grid grid-cols-2 gap-2">
    @for (key of (results | keyvalue); track key.key) {
    <div class="flex items-center gap-2">
      <i class="pi"
         [ngClass]="key.value ? 'pi-check-circle text-green-500' : 'pi-circle-off text-gray-400'">
      </i>
      <span class="text-xs font-medium text-gray-600 capitalize">{{ key.key }}</span>
    </div>
    }
  </div>
</div>
