p-password.p-password-vetflow {
  &.ng-invalid.ng-touched .p-inputtext,
  &.ng-invalid.ng-dirty .p-inputtext {
    @apply border-red-400;

    &:enabled:enabled:focus {
      @apply border-red-400;
    }
  }
}
