// Toast styling
@layer components {
  .p-toast-vetflow {
    .p-toast-message {
      @apply rounded-xl shadow-lg border-none;

      &.p-toast-message-success {
        @apply bg-gradient-to-br from-green-500 to-green-600;

        .p-toast-message-icon,
        .p-toast-message-text,
        .p-toast-icon-close,
        .p-toast-message-content,
        .p-toast-summary,
        .p-toast-detail {
          @apply text-white;
        }
      }

      &.p-toast-message-error {
        @apply bg-gradient-to-br from-red-500 to-red-600;

        .p-toast-message-icon,
        .p-toast-message-text,
        .p-toast-icon-close,
        .p-toast-message-content,
        .p-toast-summary,
        .p-toast-detail {
          @apply text-white;
        }
      }

      &.p-toast-message-warn {
        @apply bg-gradient-to-br from-amber-500 to-amber-600;

        .p-toast-message-icon,
        .p-toast-message-text,
        .p-toast-icon-close,
        .p-toast-message-content,
        .p-toast-summary,
        .p-toast-detail {
          @apply text-white;
        }
      }

      &.p-toast-message-info {
        @apply bg-gradient-to-br from-blue-500 to-blue-600;

        .p-toast-message-icon,
        .p-toast-message-text,
        .p-toast-icon-close,
        .p-toast-message-content,
        .p-toast-summary,
        .p-toast-detail {
          @apply text-white;
        }
      }
    }
  }

  // Input icon styling
  .p-input-icon-left {
    > i:first-of-type {
      @apply left-3 text-gray-400;
    }
  }
}
